@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=latin-ext&text=%E2%86%90|%E2%86%92|%E2%86%91');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/* CSS cleared */


body{
  background-color: lightblue;
  font-family: 'Montserrat', sans-serif;
}

input, button{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}


.center{
  width: 90%;
  margin: 0 auto;
  display: block;
}

.tile{
  border: solid black 2px;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  width: 48%;
  margin: 1%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-size: x-large;
  box-sizing: border-box;
}

@media  (max-width: 785px){
  .tile{
    width: 100%;
    font-size: larger;
    margin: 0;
    margin-top: 1%;
  }
}


#login_bar{
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: inline-block;
}

#login{
  float: right;
  display: block;
}

#login input{
  width: 38%;
  font-size: medium;
  margin-left: 1%;
  padding: 8px;
  max-width: 250px;
}

#login button{
  width: 18%;
  font-size: medium;
  margin-left: 1%;
  padding: 8px;
  max-width: 150px;
  min-width: 60px;
}

#logout button{
  float: right;
  display: block;
  font-size: medium;
  margin-right: 10px;
  margin-left: 1%;
  padding: 8px;
  max-width: 150px;
  min-width: 60px;
}

table{
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  width: 100%;
}

th{
  text-align: left;
}

tr:hover{
  background-color: lightgrey;
}

@charset "UTF-8";
