/*@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=latin-ext');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=latin-ext&text=%E2%86%90|%E2%86%92');

body{
  background-color: red;
  font-family: 'Montserrat', sans-serif;
}

.tile{
  border: solid black 2px;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 20px;
  border-radius: 5px;
  display: block;
  max-width: 40%;
  font-size: xx-large;
}